* {
  outline: none;
  border: none;
  box-sizing: border-box;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

canvas#canvas.emscripten {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}